{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block new_stat %}
<form class="new_stat_form" action="/newstat/" method="POST">
{% csrf_token %}
{{ new_stat_form.content }}
<a href="#" class="submit">push</a> | <a href="#" class="cancel">ret</a>
</form>
{% endblock %}

{% block content %}
{% if latest_stats %}
  <ul>
  {% for stat in latest_stats %}
    <li>{{ stat.content|escape|linebreaks }}<br /><span class="del"><a href='/delete/{{ stat.id }}'>pop</a></span><span class="date">@ {{ stat.stat_date }}</span></li>
  {% endfor %}
  </ul>
{% else %}
  <p>Currently no stats.</p>
{% endif %}
{% endblock %}
